@charset "utf-8";
/* CSS Document */
/* Replacing bootstrap */
.navbar-default{
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a{
      color: #ffffff;
      margin: 15px auto;
}
.navbar-default .navbar-nav > li.active-page > a{
      color: #d3d3d3;
      /*text-decoration: underline;*/
      border: 1px solid #d3d3d3;
      border-radius: 5px;
      margin: 15px auto;
}
.list-group-item{
    display:inline-block;
    padding: 10px;
    border-radius: 27px;
    /*background-color: transparent;*/
    border: 1px solid #ffffff;
}

.back-to-top{
  color: #4a8bfc;
  /*border: 1px solid #e3e3e3;*/
  /*border-radius: 5px;*/
}
/*.social-media{
  width:50px;
  display: inline-block;
  background-color: transparent;
  margin: 3px 0px;
  padding: 0px;
  border: none;
}*/
/* for animation */
@keyframes backgroundAnimDown {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 10% 55%;
  }
}
@-webkit-keyframes backgroundAnimDown {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 10% 55%;
  }
}

/* self define */
img{
    width: 100%;
    height: 100%;
}
body{
  color:#ffffff;
}

a{
  cursor: pointer;
  
}
.main-banner{
  width:100%;
  height:75px;
  padding:0px;
  /*margin:0px auto;*/
  background-image: linear-gradient(#034ea2, #034ea2);
}

.main-banner .promo-1{
  width:80%;
  /*height:80px;*/
  padding:0px;
  margin: -30px auto 0px;
}
.main-banner .promo-1 a img{
  width:80%;
  height:100%;
  /*height:80px;*/
  /*padding:0px;
  margin: -30px auto 0px;*/
}
.main-background{
                background-image: url(../images/background/image_18_light.png);
                background-repeat: no-repeat;
    /*background: url(../images/background/image_18_light.png) no-repeat center center fixed; */
}
.main-wrapper{
    width:100%;
    min-height:700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-position: 10% 55%;
    animation:backgroundAnimDown 5s;
    -webkit-animation:backgroundAnimDown 5s;

}

.main-personal{
    /*min-height:200px;*/
    padding: 50px 0px;
    background-color: #edeeef;
    font-size: 16px;
    line-height: 1.8em;
    color: rgba(26,26,26,.6);
    text-align: center;
}
.main-footer{
    /*background-color: #353439;*/
    background-color: #26262a;
}
.main-personal > .personal-title{
    font-size: 28px;
    color: rgba(26,26,26,.9);
    margin:20px auto;
}
.main-personal > .personal-info{

    margin:20px auto;
}
.main-portfolio{
    font-size: 16px;
    line-height: 1.8em;
    color: rgba(26,26,26,.6);
    text-align: center;
    margin: 50px auto;
}
.main-portfolio > .portfolio-title{
  font-size: 28px;
  color: rgba(26,26,26,.9);
  margin:20px auto;
}
.main-portfolio > .portfolio-projects{
  /*font-size: 28px;
  color: rgba(26,26,26,.9);*/
  margin:20px auto;
}
.main-contact{
    font-size: 16px;
    line-height: 1.8em;
    color: rgba(26,26,26,.6);
    text-align: center;
    margin: 50px auto;

}
.main-contact .contact-row{
  color: #091a1a;
  margin:20px auto;

}
.contact-row.contact-note a{
  color: #091a1a;
    padding-bottom: 3px;
    border-bottom: 1px solid #091a1a;
}
.contact-row.contact-note a:hover{
  text-decoration: none;
  border-bottom:0px solid;
}
.contact-row .row{
  width:60%;
  padding:0px 15px;
  margin: 10px auto;
}
.contact-row .row input{
  width:100%;
  border-radius:5px;
    padding: 5px 10px;
    border: 1px solid #e3e3e3;
}
.contact-row .row textarea{
  width:100%;
  max-width:100%;
  min-height:90px;
  border-radius:5px;
    padding: 5px 10px;
    border: 1px solid #e3e3e3;
    line-height: 1.3em;
}
.contact-row .row .btn{
  width:40%;
  max-width: 180px;
  padding:10px 0px;
}
.main-contact > .contact-title{
  font-size: 28px;
}
.main-contact > .contact-form{

}
.logo{
    height: 60px;
    width: 60px;
    padding: 5px 5px;
}
.mask-overflow{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 99;
}
.content{
  /*padding: 180px 0 155px;*/
}
.desc-wrapper{
  -webkit-animation: feature-text-anim 1.75s ease-in-out;
    animation: feature-text-anim 1.75s ease-in-out;
    z-index: 100;
    position: relative;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 32px;
    text-align: center;
    text-rendering: optimizeLegibility;
}
.desc-wrapper p{
    font-family: "adobe-garamond-pro";
    font-size: 30px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: italic;
    margin: 20px auto;
}


  .desc-wrapper > .profile_picture > .profile_picture_image{
    margin: 0px auto;
                background-image: url(../images/rickykennedy.jpg);
                background-position: 50% 9%;
                background-origin: border-box;
                border: 1px solid #a5c9e5;
                border-radius: 50%;
                height: 100px;
                width: 100px;
                background-size: 100px 120px;
                background-repeat: no-repeat;
            }
.desc-wrapper > .desc-name{
    line-height: 1.5em;
    text-transform: none;
    /*font-weight: 400;*/
    font-style: italic;
  font-size: 42px;
  letter-spacing: 5px;
}
.desc-wrapper > .desc-quote{
  font-weight: bold;
}
.desc-wrapper > .desc-resume{
  margin-top: 30px;
}
.desc-resume a{
  background-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border: 2px solid #fff;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
}
.desc-resume a:hover{
  border: 0px;
}
.desc-wrapper > .desc-donate{
  font-size: 22px;
}
.footer-wrapper{
  /*width:100%;*/
  padding: 64px 32px;
  /*margin: 0px 17px;*/
  margin: 0px auto;
  position: relative;
  text-align:center;
  /*margin-left: -17px;
  margin-right: -17px;*/
}
.footer-nav{
  font-size: 24px;
  line-height: 1.8em;
}
.footer-navigations{
  display: inline-block;
  width: 19%;
  padding: 0px 0px 40px;
}
.footer-navigations a{
  color:#d3d3d3;
}
.footer-row{
  margin: 20px auto 0px;
  padding:10px 0px;
}
.footer-info a{
  /*color:#ffffff;*/
  text-decoration: underline;
}
.footer-copyright #currentYear{
  display: inline-block;
}
.footer-regulation .policy{
  display: inline-block;
}
/*.footer-regulation .policy:after{
  content: " | ";
}
.footer-regulation .policy:last-child:after{
  content: "";
}*/
.footer-regulation .policy+.policy:before{
  content: " | ";
}
/*.portfolio-intro{
  background-color: #edeeef;
}*/
/*@media only screen and (max-height : 600px) { 


}*/
@media screen and (max-width: 1024px) {
  .navbar-default .navbar-toggle:hover{
    background-color:#ffffff;
  }
  .navbar-default .navbar-toggle:active{
    background-color:#ffffff;
  }
  .navbar-default .navbar-toggle:focus{
    background-color:#ffffff;
  }
    
    .footer-navigations{
      /*display:block;*/
      width:50%;
    }
    
}
@media screen and (max-width: 480px) {
  .list-group-item{
    padding: 8px 5px;
    border: 0px solid;
  }
  .list-group-item a img{
    width:80%;
  }
  .navbar-default .navbar-toggle:hover{
    background-color:#ffffff;
  }
  .navbar-default .navbar-toggle:active{
    background-color:#ffffff;
  }
  .navbar-default .navbar-toggle:focus{
    background-color:#ffffff;
  }
  .navbar-toggle:hover > .icon-bar{
    /*background-color: #ffffff;*/
  }
    .desc-wrapper{
      padding: 0px;
    }
    .desc-wrapper > .desc-donate{
      margin: 0px;
    }
    .desc-wrapper > .desc-resume{
      font-size: 26px;
    }
    .footer-navigations{
      display:block;
      width:100%;
    }
    .contact-row .row{
      width:100%;
    }
  .contact-row .row .btn{
    width:40%;
    padding:10px 0px;
  }
}
/*@media screen and (min-width: 480px) {


}*/
/*@media only screen and (min-width : 320px) and (max-width : 568px) { 
 
}*/
/*@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
 
}*/


/* iphone 6  */
/*@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { 
 
}*/