@charset "utf-8";
/* CSS Document */
.background{
  background-color: #DCDCDC;
  background-clip: border-box,border-box,padding-box;
}
.container-background{
    width:100%;
    min-height:600px;
    background: url(img/image_15.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.header{
    text-align:center;
}
.profile_picture img {
    width: 100px;
    margin: 5px 5px 0px 0px;
    display: inline;
    border-radius: 5px;
}
.header-background .header{
  padding-top: 15px;
  z-index: 10;
  position: relative;
}
.header .highlight{
  text-decoration: underline;
  font-style: italic;
  /*border-bottom: 1px solid #000000;*/
}
.view-form{
  margin-top: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}
.header-background{
    width:100%;
    min-height:600px;

    /*min-height: 100%;*/
    /* Set up proportionate scaling */
    /*width: 100%;*/
    /*height: auto;*/

    /* Set up positioning */
    /*position: fixed;
    top: 0;
    left: 0;*/

    /*background: url(img/image_11.jpeg) no-repeat center; */
    /* fallback */
    background: url(img/image_11.jpeg) no-repeat center center fixed; 
    /*background: url(img/image_11.png) no-repeat center center fixed; */
    /* W3C */

    /*background-image: linear-gradient(#eb01a5, transparent), url("img/image_11.jpeg") no-repeat center center fixed ; */
    /*FF 3.6+*/
    /*background: url('img/image_11.jpeg') center center no-repeat, -moz-linear-gradient(top, #e3e3e3, transparent); */
    /*Safari 4+, Chrome 2+*/
    /*background: url('img/image_11.jpeg') center center no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#e3e3e3), to(transparent));*/
    /* Safari 5.1+, Chrome 10+*/
    /*background: url('img/image_11.jpeg') center center no-repeat, -webkit-linear-gradient(top, #e3e3e3, transparent);*/
    /*Opera 11.10*/
    /*background: url('img/image_11.jpeg') center center no-repeat, -o-linear-gradient(top, #e3e3e3, transparent);*/
    /*Standard, IE10*/
    /*background: url('img/image_11.jpeg') center center no-repeat, linear-gradient(to bottom, #e3e3e3, transparent);*/
    /*background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*-webkit-animation: play .8s steps(10) infinite;
     -moz-animation: play .8s steps(10) infinite;
      -ms-animation: play .8s steps(10) infinite;
       -o-animation: play .8s steps(10) infinite;
          animation: play .8s steps(10) infinite;*/
}
.marquee{
    overflow: hidden;
    -webkit-animation: marquee 50s linear infinite;
}
.circle {
  content: ' \25CF';
  width: 100px;
  height: 100px;
  background: #29ABE2;
  /*color:#4D4D4D;
  color:#CCCCCC;
  color: #CBF914;
  color: #0D71BA;
  color: #29ABE2;
  color: #1274f2;
  color: #C1272D;*/
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

@keyframes marquee {
    0%   { left:0 }
    100% { left:100% }
}
#mask-overlay{
    position: absolute;
    top: 0;
    left: 0;
    max-height:600px;
    width: 100%;
    height: 100%;
    /*background-color: black;*/
    background-color: #DCDCDC;
    opacity: 0.5;
    overflow: hidden;
}

#container-last{
    padding-bottom: 50px;
}

.phone-code{
  color:#428bca;
}
.phone-code:hover{
  color:#e3e3e3;
  text-decoration: underline;
}
#footer {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    background: #DCDCDC;
    text-align: center;
}
#footer p{
    margin: 10px 0;
}
.copyright{
  margin: 10px 0;
}
.social-media{
  width:60px;
  display: inline-block;
  background-color: transparent;
  margin: 3px 0px;
  padding: 0px;
}
.back-to-top{
  /*border: 1px solid #e3e3e3;*/
  /*border-radius: 5px;*/
}
#star-six {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  position: relative;
}
#star-six:after {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid red;
  position: absolute;
  content: "";
  top: 30px;
  left: -50px;
}
#hexagon {
  width: 100px;
  height: 55px;
  background: red;
  position: relative;
}
#hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid red;
}
#hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid red;
}

@media only screen and (max-height : 600px) { 
  #mask-overlay{
    max-height:100%;
    min-height: 600px;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) { 
    /* STYLES GO HERE */
  .header-background .header{
    padding-top: 10px;
      z-index: 10;
      position: relative;
  }
  .header-background{
    width:100%;
    min-height:600px;

    /*min-height: 100%;*/
    /* Set up proportionate scaling */
    /*width: 100%;*/
    /*height: auto;*/

    /* Set up positioning */
    /*position: fixed;
    top: 0;
    left: 0;*/

    /*background: url(img/image_11.jpeg) no-repeat center; */
    /* fallback */
    background: url(img/image_11.jpeg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #mask-overlay{
    position: absolute;
    top: 0;
    left: 0;
    max-height:600px;
    width: 100%;
    height: 150%;
    /*background-color: black;*/
    background-color: #DCDCDC;
    opacity: 0.5;
    overflow: hidden;
  }
.container-background{
    width:100%;
    min-height:600px;
    background: url(img/image_15.jpeg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}
}


/* iphone 6  */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { 
    /* STYLES GO HERE */
}